<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
<appSettings>
	<add key="exePath" value="C:\Users\viprava\Documents\SharpDevelop Projects\VM.Yantra\Multicast\bin\Debug\" />
		<add key="Ledger" value="C:\\vm.yantra\data\Ledger\Yantra.Ledger.{0}.xml" />
	
</appSettings>
</configuration>